
  .botao{
    width: 100px;
    margin-top: 10px;
    margin-left: 5px;
  }
  .ion-text-center{
    margin-top: 20px;
  }
  .card-titulo{
    font-size: 20px;
    color: #000;
    margin-top: 15px;
    
  }

